<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="false" />
        <staticContent>
            <remove fileExtension="*" />
        </staticContent>
        <handlers>
            <clear />
        </handlers>
    </system.webServer>
</configuration>